# Projeto: Machine Learning
<hr>

#### Respondendo a perguntas do desafio final a partir da exploração de dados e testes em modelo de machine learning proposto<br>

In [1]:
import pandas as pd

> #### Iniciando exploração do dataset

In [2]:
df = pd.read_csv("Salary.csv")

In [3]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

### Pergunta 1:
Qual a dimensão (Número Linhas, Número colunas) do dataset utilizado no treinamento?

In [5]:
df.shape

(35, 2)

### Pergunta 2:
Baseado no dataset utilizado para treinamento, qual a média da coluna YearsExperience? Considere 2 casas decimais na sua resposta.

In [6]:
mean_years = df["YearsExperience"].mean()
print(round(mean_years,2))

6.31

### Pergunta 3:
Baseado no dataset utilizado para treinamento, qual a média da coluna Salary? Considere 2 casas decimais na sua resposta.

In [7]:
mean_salary = df["Salary"].mean()
print(round(mean_salary,2))

83945.6

### Pergunta 4:
Baseado no dataset utilizado para treinamento, qual o valor da maior razão Salary/YearsExperience? Considere 2 casas decimais na sua resposta.

In [8]:
df["reason"] = df["Salary"]/df["YearsExperience"]
calc_max_reason = df["reason"].max()
print(round(calc_max_reason,2))

35766.36

### Pergunta 5:
Baseado no dataset utilizado para treinamento, qual o valor da menor razão Salary/YearsExperience? Considere 2 casas decimais na sua resposta.

In [9]:
df["reason"] = df["Salary"]/df["YearsExperience"]
calc_min_reason = df["reason"].min()
print(round(calc_min_reason, 2))

10330.74

### Pergunta 6:
Baseado no dataset utilizado para treinamento, quantos anos de experiência tem a pessoa com o maior valor de razão Salary/YearsExperience?

In [10]:
index_max_reason = df["reason"].idxmax()
print(df.loc[index_max_reason])

YearsExperience        1.100000
Salary             39343.000000
reason             35766.363636
Name: 0, dtype: float64

### Pergunta 7:
Baseado no dataset utilizado para treinamento, quantos anos de experiência tem a pessoa com o menor valor de razão Salary/YearsExperience?

In [11]:
index_min_reason = df["reason"].idxmin()
print(df.loc[index_min_reason])

YearsExperience        13.500000
Salary             139465.000000
reason              10330.740741
Name: 34, dtype: float64